<div class="text-layout">
  <h1>Pipes Basicos</h1>
  <p>Pipes incluidos en Angular - Usualmente en Common Module</p>
</div>
<div class="grid">
  <div class="col-4">
    <p-card header="upperCase" [subheader]="nombreLower | uppercase">
      {{ nombreLower | uppercase }}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="lowerCase" [subheader]="nombreLower | lowercase">
      {{ nombreLower | lowercase }}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="titleCase" [subheader]="nombreCompleto | titlecase">
      {{ nombreCompleto | titlecase }}
    </p-card>
  </div>
</div>
<div class="text-layout">
  <h1>Date | Fechas | Pipe</h1>
  <p>Pipes para mostrar las fechas</p>
</div>

<div class="grid">
  <div class="col-6">
    <p-card>
      <ul>
        <li>fecha</li>
        <li>fecha | date</li>
        <li>fecha | date : "short"</li>
        <li>fecha | date : "long"</li>
        <li>fecha | date : 'EEEE, MMMM d, y, h:mm:ss a zzzz'</li>
      </ul>
      <hr />
      <ul>
        <li>fecha | date : "long" : "GMT-6"</li>
        <li>fecha | date : "long" : "GMT-4"</li>
        <li>fecha | date : "long" : "" : "en"</li>
        <li>fecha | date : "long" : "" : "fr"</li>
      </ul>
    </p-card>
  </div>
  <div class="col-6">
    <p-card>
      <ul>
        <li>{{ fecha }}</li>
        <li>{{ fecha | date }}</li>
        <li>{{ fecha | date : "short" }}</li>
        <li>{{ fecha | date : "long" }}</li>
        <li>{{ fecha | date : "EEEE, MMMM d, y, h:mm:ss a zzzz" }}</li>
      </ul>
      <hr />
      <ul>
        <li>{{ fecha | date : "long" : "GMT-6" : "es-CO" }}</li>
        <li>{{ fecha | date : "long" : "GMT-4" }}</li>
        <li>{{ fecha | date : "long" : "" : "en" }}</li>
        <li>{{ fecha | date : "long" : "" : "fr" }}</li>
      </ul>
    </p-card>
  </div>
</div>
