<div class="text-layout">
  <h1>Hola Mundo</h1>
  <h2>{{ "HoLa MuNdo" | titlecase }}</h2>
  <h3>{{ nombre | titlecase }}</h3>
</div>

<button
  pButton
  (click)="mostrarNombre()"
  label="Cambiar nombre"
  icon="pi pi-thumbs-up"
  iconPos="right"
  class="p-button-help"
></button>
<!-- <button pButton type="button" icon="pi pi-thumbs-up" iconPos="left"></button>
<button pButton type="button" label="Help" class="p-button-help"></button> -->
<!-- <button pButton type="button" label="Click">opcion 1</button>
<p-button label="Click">opcion2</p-button> -->

<!-- <p-card header="header"> Content </p-card> -->

<p-card
  [header]="nombre | titlecase"
  subheader="Card Subheader"
  [style]="{ width: '360px' }"
  styleClass="p-card-shadow"
>
  <ng-template pTemplate="header">
    <img
      alt="Card"
      src="https://primefaces.org/cdn/primeng/images/usercard.png"
    />
  </ng-template>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
    consequuntur error repudiandae numquam deserunt quisquam repellat libero
    asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
    neque quas!
  </p>
  <ng-template pTemplate="footer">
    <p-button label="Save" icon="pi pi-check"></p-button>
    <p-button
      label="Cancel"
      icon="pi pi-times"
      styleClass="p-button-secondary"
      [style]="{ 'margin-left': '.5em' }"
    ></p-button>
  </ng-template>
</p-card>

<app-menu></app-menu>
